<!DOCTYPE html>
<html>
	<head>
$meta
		<link rel="stylesheet" href="/static/blog.css">
		<link rel="stylesheet" href="/static/footer.css">
	</head>
	<body onscroll="scroll();">
		<div class="blog-banner" style="background-image: url($banner);"></div>
		<div class="blog-page">
			<div class="blog-center">
				<span><a href="/blog"><< Back to archive</a></span>
				<h1 class="blog-top-1" style="margin-top:0">$title</h1>
				<p class="blog-top-2"><code>$datestring</code><i class="blog-readtime">$readtime</i></p>
				$content
				<p><a href="$permalink">Article Permalink</a></p>
				<script type="text/javascript" src="/static/banner_scroll.js"></script>
				<script defer src="https://comments.joshstock.in/js/commento.js"></script>
				<div id="commento"></div>
$footer
			</div>
		</div>
	</body>
</html>
