		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>$title</title>
		<meta name="title" content="$title"/>
		<meta name="description" content="$description"/>
		<meta property="og:site_name" content="Josh Stockin"/>
		<meta property="og:title" content="$title"/>
		<meta property="og:description" content="$description"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content="/static/favicon.png"/>
		<meta property="og:url" content="https://joshstock.in$permalink"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Matomo -->
		<script>
		  var _paq = window._paq = window._paq || [];
		  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
		  _paq.push(["setCookieDomain", "*.*.joshstock.in"]);
		  _paq.push(["setDomains", ["*.*.joshstock.in"]]);
		  _paq.push(['trackPageView']);
		  _paq.push(['enableLinkTracking']);
		  (function() {
			var u="//analytics.joshstock.in/";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '1']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		  })();
		</script>
		<noscript><p><img src="//analytics.joshstock.in/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
		<!-- End Matomo Code -->
