// _fonts.scss
// Fonts are stored in the S3 bucket, not the local filesystem.

@font-face {
    font-family: 'Chivo';
    src: url(/static/fonts/Chivo-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Chivo';
    src: url(/static/fonts/Chivo-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(/static/fonts/FiraSans-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: url(/static/fonts/FiraSans-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Fira Sans';
    src: url(/static/fonts/FiraSans-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: url(/static/fonts/FiraSans-BoldItalic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Mono';
    src: url(/static/fonts/FiraMono-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: monospace;
}
