@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');
body {
	font-family: 'Fira Sans', sans-serif;
	color: #252525;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
p {
	line-height: 1.35em;
}
a {
	color: #0077a4;
}
code {
	font-family: 'Fira Mono', monospace;
}
.code {
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	background-color: #eeeeee;
	display: inline-block;
	box-sizing: border-box;
	white-space: pre-wrap;
	overflow: scroll;
}
#copyright {
	padding: 20px 0;
}


.blog-center {
	max-width: 800px;
	padding: 20px;
	margin: 20px auto;
}
.blog-banner {
	width:100%;
	height: 250px;
	background-size: cover;
	background-position: center;
	margin: 0;
}
.blog-img-right {
	max-height: 400px;
	max-width: 50%;
	margin: 10px 0 10px 20px;
	float: right;
}
.blog-img-left {
	max-height: 400px;
	max-width: 50%;
	margin: 10px 20px 10px 0;
	float: left;
}
.blog-listing {
	padding-bottom: 60px;
}
.blog-listing code {
	margin-right: 10px;
}

@media (max-width: 800px) {
	.blog-banner {
		height: 30vw;
	}
}
