<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Josh Stockin - $title</title>
		<meta name="title" content="$title" />
		<meta name="description" content="$summary" />
		<meta property="og:site_name" content="Josh Stockin" />
		<meta property="og:title" content="$title" />
		<meta property="og:description" content="$summary" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="$banner" />
		<meta property="og:url" content="https://joshstock.in$permalink" />
		<link rel="stylesheet" href="/blog.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="blog-center">
			<span><a href="/blog">← Back to archive</a></span>
			<h1>Josh Stockin</h1>
			<img class="blog-banner" style="background-image: url($banner)"/>
			<h2 class="blog-top-1">$title</h2>
			<p class="blog-top-2"><code>$date</code></p>
			<hr>
			$content
			<p><a href="$permalink">Article Permalink</a></p>
			<div id="disqus_thread"></div>
			<script>
			var disqus_config = function () {
				this.page.url = "https://joshstock.in$permalink";
				this.page.identifier = "https://joshstock.in$permalink";
			};
			(function() {
			var d = document, s = d.createElement('script');
			s.src = 'https://joshstockin.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript><p>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</p></a></noscript>
			$copyright
		</div>
	</body>
</html>
