<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Josh Stockin - Blog Archive</title>
		<meta property="og:title" content="Josh Stockin - Blog Archive" />
		<meta property="og:description" content="The personal blog of Josh Stockin" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://joshstock.in/blog" />
		<style>$css</style>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="blog-center">
			<span><a href="/">← Back to home</a></span>
			<h1 id="title">Josh Stockin</h1>
$articles
			$copyright
		</div>
	</body>
</html>
