<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Git Projects - Josh Stockin</title>
		<meta name="title" content="Git Projects - Josh Stockin" />
		<meta name="description" content="Summary for Josh Stockin's Git projects" />
		<meta property="og:site_name" content="Josh Stockin" />
		<meta property="og:title" content="Git Projects - Josh Stockin" />
		<meta property="og:description" content="Summary for Josh Stockin's Git projects" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/static/favicon.png" />
		<meta property="og:url" content="https://git.joshstock.in" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css"/>
	</head>
	<body>
		<center>
			<h1 style="margin-bottom:0">Git Commits</h1>
			<p style="font-size: 1.5em; margin-top:10px">All my active Git projects and their recent activity</p>
		</center>
		<div id="container">
			<p style="margin-top:8px">Here's the list of repositories hosted on this server. There might be a few more scarcely populated repositories hosted on <a href="https://github.com/JoshuaS3">my GitHub page</a>. All commit links mirror to GitHub.</p>
			<div class="divider"></div>
			$repositories
		</div>
	</body>
</html>
