@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');
body {
	font-family: 'Fira Sans', sans-serif;
	color: #ffffff;
	background-color: #353535;
	padding: 0;
	margin: 0;
	line-height: 1.45;
	font-size: 1em;
}
a {
	color: #56c0f4ff;
	text-decoration: none;
	border-bottom: 2px solid #56c0f450;
}
a:hover {
	border-bottom-color: #56c0f4dd;
}
center {
	padding: 2em 1em;
	background-color: #252525;
}
#container {
	max-width: 700px;
	padding: 2em 1em;
	margin: 0 auto;
	margin-bottom: 4em;
}
.divider {
	max-width: 8em;
	margin: 2em auto;
	border-bottom: 4px dotted #ffffff;
}
.repository {
	border-bottom: 1px solid #ffffff40;
	margin-top: 2em;
	padding-bottom: 1em;
}
.repository>.name {
	text-decoration: underline;
	margin-top: 1em;
	margin-bottom: 0;
}
.repository .button {
	font-weight: bold;
}
.date.category {
	margin-bottom: 0.5em !important;
	margin-top: 2em;
}
.commit {
	margin-bottom: 1em;
	display: block;
}
.commit.select {
	padding: 8px;
	padding-left: 10px;
	border-radius: 0 8px 8px 0;
	border-left: 4px solid #56c0f490;
	background-color: #00000020;
}
.commit.select:hover {
	border-left-color: #56c0f4ee;
	cursor: pointer;
}
.commit>.hash {
	font-family: 'Fira Sans', monospace;
	font-size: 0.8em;
}
.commit>.hash>.date {
	margin-left: 10px;
	color: #f0f0f0dd;
}
.commit>.subject {
	margin: 0;
}
.commit>.author {
	margin: 0;
}
.commit>.author>.email {
	margin-left: 10px;
	color: #f0f0f0cc;
}
.commit>.author>.email:before{
	content: "<"
}
.commit>.author>.email:after{
	content: ">"
}
.commit>.message {
	font-family: 'Fira Mono', monospace;
	font-size: 0.8em;
	white-space: pre-wrap;
	margin-bottom: 0;
	padding: 0;
}
